SUPABASE_URL=https://wxoxqqmmiitjdnfennzu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4b3hxcW1taWl0amRuZmVubnp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjQwMzIsImV4cCI6MjA4OTc0MDAzMn0.rNifgA_Tgd3dRuSWbg_Nm0Bz7ukIXcNw6TO-yAdYAMk
SUPABASE_EPISODES_TABLE=episodes
